body{
    background: #eda8ff;
}
.mainScreen-color-theme {
    background: #eda8ff;
    color: #ff4054;
    font-family: "David", sans-serif;
}

.my-canvas-color-theme {
    background: #a545ff;
}

.playword-color-theme {
    background-color: white;
    color: #ff4054;
}

.alert-zone-color-theme {
    color: #ff5d7d;
}

.submitbutton-color-theme {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red,pink  ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red,pink   ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red,pink  ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red,pink  ); /* Standard syntax */
    color:white;
}

.guessbox-color-theme {
    color:red;
}